.row
  .large-12.columns
    %h3 Howdy

.row
  .large-6.columns
    %p This webapp was built onver 24 hours at TechCrunch Disrupt Hachathon 2013 by Tony Contreras and Sandip Trivedi.

  .large-6.columns
    = image_tag('sandip_tony.jpg')
