.content
  .row
    .span12
      = @event.name
      - @event.contents.each do |content|
        - if content.content_type == 'twitter' && content.twitter_media_url.present?
          = image_tag(content.twitter_media_url, :class => 'item')
        - elsif content.content_type == 'instagram' && content.instagram_media_url.present?
          = image_tag(content.instagram_media_url, :class => 'item', :size => '300x300')
        -elsif content.content_type == 'twitter' && content.twitter_media_url.blank?
          %p
          .twitter_text= content.twitter_body
