.content
  .row
    .span12
      = @event.name
      - @event.contents.each do |content|
        - if content.content_type == 'twitter'
          = image_tag(content.twitter_media_upload, :class => 'item')
        - else
          = image_tag(content.instagram_media_url, :class => 'item instagram_image')
